/*--------------------------- Section 2------------------- */
.photo-grid-container {
  display: flex;
  justify-content: center;
  
}

.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;  
  flex-direction: row;
  gap: 5px;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  
}

/* ------------------------------------------------------------- */