header {
    align-items: center;
    display: flex;
    justify-content: center;
    display: fixed;
    background-color: rgb(215, 213, 213);
}

#logo img{
    float: left;
    margin-left: 0;
    width: 50px;
    height: 50px;
}

#nav_bar nav{
    float: right;
    top: 0;
    right: 0;
    margin-right: 0;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}

header a{
        text-decoration: none;
        color: black;
}
