
body{
    margin: 100px;
    background-color: transparent;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco al 50% de opacidad */
    align-content: center;
}
#msg{
   width: 250px;
   height: 100px; 
}
#but{
    background-color: #606d79;
    align-items: center;
}

 .alert {
            display: none;
            padding: 15px;
            margin: 10px 0;
            border-radius: 4px;
        }
        
        .alert.success {
            background-color: #606d79;
            color: #0a0a0a;
            border: 1px solid #606d79;
        }
        
        /* Quand le formulaire reçoit le focus et est "validé" */
        form:focus-within .alert.success {
            display: block;
        }
        
header {
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: rgb(215, 213, 213);
}

footer{
    background-color: rgb(215, 213, 213);
    align-items: center;
    display: flex;
    justify-content: center;

}

#logo img{
    float: left;
    margin-left: 0;
    width: 90px;
    height: 50px;
}

#nav_bar nav{
    float: right;
    top: 0;
    right: 0;
    margin-right: 0;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-style: italic;
}

header a{
        text-decoration: none;
        color: black;
}

#location{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-style: italic;
}

#shareBtn {
    background-color: transparent;
    border-color: transparent;
}

/*--------------------------- Section 2------------------- */
#Portfolio_container_section{
   border: solid pink 5px;
   border-radius: 10px;
   padding: 10px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;  
  flex-direction: row;
  gap: 15px;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  justify-items: center;
}

.photo-grid-item p{
    color:rgb(192, 35, 61);
    text-align: center;
}
img{
    border-radius: 50%;
}
/* ------------------------------------------------------------- */


