.section1 #accueil1 {
    background-image: url("image/accueil.jpg");
    width: 100%;
    height: 780PX;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#title * {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*
#h1css {
     text-align: center;
    padding-left: 300px;
    padding-top: 0px;

} */

#photogr1 {
    padding-left: 500px;
    margin-top: 0px;
    margin: 0%;
}


#section1part2 {

    padding-top: 20px;
    display: flex;

}

#aboutStudio {


    padding: 0px;
    margin: 0px;

    font-size: 23px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 245, 247);
}


#aboutStudio h2 {
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
    size: 80%;


    color: black;
}

#imageStudio img {
    padding: 50px;
    margin: 20px;
    float: right;
    width: 95%;
    height: 90%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*
.section1 img {
    width: 100%;
    height: 100%;
} */


#services {
    color: gray;
    border: gray 3px;
    justify-content: space-around;
    flex-direction: row;
    gap: 15px;
    display: flex;
    box-sizing: border-box;
}

#h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#shooting,
#Mariages,
#Evenements {
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
    /*display: flex;*/
    border: gray 3px;
    justify-items: center;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
    width: 300px;
}

#shooting {
    flex-shrink: 3 !important;
}


#divcont {
    align-items: center;
    display: flex;
}

#stylform {
    /*background-color: transparent;*/
    font-family:Arial, Helvetica, sans-serif;
    /*filter: blur(5px);*/
    background-color: rgba(117, 111, 111, 0.651);
    /* Blanco al 50% de opacidad */
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#msg {
    width: 250px;
    height: 100px;
}

#but {
    background-color: #606d79;
    align-items: center;
}


.alert {
    display: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
}

/*
        .alert.success {
            background-color: #606d79;
            color: #0a0a0a;
            border: 1px solid #606d79;
        }
        
        form:focus-within .alert.success {
            display: block;
        }
            */

header {
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    bottom: 0;
    justify-content: center;
    background-color: rgb(215, 213, 213);
    height: 70px;

}

footer {
    background-color: rgb(215, 213, 213);
    align-items: center;
    display: flex;
    justify-content: center;

}

#logo img {
    float: left;
    margin-left: 0;
    width: 90px;
    height: 50px;
}


#nav_bar nav {
    float: right;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    align-items: center;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
}

#footer_id {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-style: italic;
}

#copyright {
    font-size: 1.1em;
    font-style: italic;
    color: black;
}

.down-arrow {
    font-size: 40px;
    text-decoration: none;
    color: black;
}




/*--------------------------- Section 2------------------- */
#Portfolio_container_section {
    border-radius: 10px;
    padding: 10px;
    color: gray;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    margin-bottom: 55px;
    justify-items: center;
}

.photo-grid-item p {
    color: rgba(117, 111, 111, 0.651);
    text-align: center;
}

#Portfolio_container_section img {
    border-radius: 50%;
    border: solid gray 3px;
}

#Portfolio_container_section {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------- */

#services img {
    border-radius: 50%;
    border: solid gray 3px;
    justify-content: center;
    justify-self: center;

}

#shooting,
#Mariages,
#Evenements {
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
    display: flex;
    border: gray 3px;
    justify-items: center;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.overlay-box {
    position: absolute;
    bottom: 100px;

    /* y descend louta */
    left: 82%;
    /* fel centre horizontal */
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.65);
    padding: 40px 60px;
    color: white;
    text-align: center;
    backdrop-filter: blur(3px);
    z-index: 5;
}

.overlay-box h1 {
    margin: 0;
    font-size: 40px;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

.bottom-images {
    position: absolute;
    bottom: 20%;

    left: 38%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1;

}

.bottom-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* hover effect */
.bottom-images img:hover {
    transform: scale(1.55);
}